{% extends 'base/main.html' %}

{% block content %}



<div class="container">
  
  <h1 style="text-align: center;color:beige">Login to Your Account!</h1>
  
</div>

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <p></p>
    <p></p>
    <div>{{ form.username.label }} :  {{ form.username }} </div>
    <div></div>
    <p></p>
    <p></p>
    <div>{{ form.password.label }} :  {{ form.password }}</div>
    <div></div>
    <p></p>
    <p></p>
    <input class="button" style="margin-top: 10px" type="submit" value="Login">
  </form>
  <p>Can't Login please sign up first: <a href="{% url 'register' %}">Sign Up!</a> </p>
</div>

{% endblock content %}
